
<div class="m-5">
<p>Ask your coach anything:</p>
<form action="/answer" data-turbo="false">
  <input class="w-75" type="text" name="question">
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>
</div>
